# Core App Requirements
fastapi
uvicorn
pydantic
anyio
python-dotenv

# Async + HTTP clients
httpx
requests
click

# NLP & ML
transformers
torch
sentence-transformers
scikit-learn
nltk
spacy

# MongoDB Client
pymongo

# Utility
typing_extensions
typing-inspection
python-jose
jwt
pydantic
bcrypt
passlib[bcrypt]
